* {
    font-family: Poppins;
}

#container_main {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#form-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    #form-body label {
        font-weight: bold;
    }

    #form-body input[type="text"],
    #form-body input[type="date"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-sizing: border-box;
    }

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

    .buttons input[type="submit"],
    .buttons input[type="reset"] {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .buttons input[type="submit"]:hover,
        .buttons input[type="reset"]:hover {
            background-color: #0056b3;
            color: white;
        }

#lblMsg {
    margin-top: 20px;
}

#heading h2 {
    text-align: center;
/*    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;*/
    color: #343a40;
}

#data-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
}

#data-table th,
#data-table td {
    border: 1px solid #ced4da;
    padding: 10px;
    text-align: center;
}

#data-table th {
    background-color: #343a40;
    color: white;
}

#data-table td #btnPdf {
    display: inline-block;
    padding: 5px 23px;
    background: #ffffff;
    color: #ff6a6a;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

    #data-table td #btnPdf:hover {
        background: #ff6a6a;
        color: #ffffff;
    }

#data-table tr:nth-child(even) {
    background-color: #f8f9fa;
}
